@import "../../styles/var.scss";

.header {
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    @media (max-width: 767px) {
      padding: 10px 0;
    }
  }

  .logo {
    font-weight: 800;
    font-size: 27px;
    color: $primary-color;
  }

  ul {
    list-style-type: none;
  }
}
